server:
  servlet:
    context-path: /pegasus-front
  port:
    8010
spring:
  application:
    name: pegasus-front
  profiles:
    active: dev
  messages:
    basename: "application-messages,ValidationMessages"
    encoding: "UTF-8"
  session:
    store-type: redis
    redis:
      namespace: ${spring.application.name}:${spring.profiles.active}:${application.version}
      flush-mode: on-save    
  redis:
    host: localhost
    port: 16379
    database: 0
    password: 
    timeout: 3000
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:33060/sample
    username: mysql-app
    password: mysql-app
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
application:
  version: v1.0
security:
  admin:
    username: admin
    password: pass

# https://spring.pleiades.io/spring-boot/docs/current/reference/html/actuator.html
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "*"
        exclude: shutdown

log:
  base-directory: C:/work/logs
