[mysqld]
character-set-server=utf8mb4

#エラーログを出力
log-error=/var/log/mysql/error.log

#詳細ログを出力
general_log=ON
general_log_file=/var/log/mysql/query.log

#Slow Queryログを出力
slow_query_log=ON # slow queryログの有効化
slow_query_log_file=/var/log/mysql/slow.log # ファイルパス
long_query_time=5 # 5秒以上処理に時間がかかったクエリを記録
log-queries-not-using-indexes # インデックスが使用されていないクエリをログに出力

[mysql]
default-character-set=utf8mb4
 
[mysqldump]
default-character-set=utf8mb4
