server:
  servlet:
    context-path: /pegasus-datalinkage
  port: 8050
spring:
  application:
    name: pegasus-datalinkage
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:33060/sample
    username: mysql-app
    password: mysql-app
  cache:
    type: redis
  redis:
    host: localhost
    port: 16379
    database: 0
    password: 
    timeout: 3000
datalinkage:
  url: http://localhost:8050/pegasus-datalinkage/messages
  publish: /publish
  subscription: /subscription
application:
  version: v1.0
log:
  base-directory: C:/work/logs
