<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SpringBoot - Test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8" />
</head>

<body>
	<h1 th:text="'Hello'">World!</h1>
	<a th:href="@{/dev/v1.0/mpa/sample/time}">time</a><br/>
	<a th:href="@{/dev/v1.0/mpa/sample/basic}">basic</a><br/>
	<a th:href="@{/dev/v1.0/mpa/sample/input}">input</a><br/>
	<a th:href="@{/dev/v1.0/mpa/sample/player/init}">player/init</a><br/>
</body>

</html>