<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/default-layout">

<head>
	<meta charset="UTF-8">
	<title th:text="'Input Form'"></title>
</head>

<body>
	<div layout:fragment="content">
		<h1>Input Form</h1>
		<script type="text/javascript">
			$(function () {
			});	
		</script>
		<div th:replace="components/userForm :: load(
				userForm = ${userForm}, 
				sexMap = ${sexMap}, 
				authorityMap = ${authorityMap}, 
				availableFunctionMap = ${availableFunctionMap})">
		</div>
	</div>
</body>

</html>