<html
  lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default-layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title th:text="'Input Form'"></title>
  </head>

  <body>
    <div layout:fragment="content">
      <form
        method="post"
        th:object="${userForm}"
        th:action="@{/dev/v1.0/mpa/sample/multi-value/confirm}"
      >
        <div class="col-sm-12 form-group row">
          <div class="col-sm-12">
            <div class="col-sm-12">
              <input
                type="text"
                name="selectedCode"
                value="A"
                class="form-control"
                style="width: 200px"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-12 form-group row">
          <div class="col-sm-3">
            <p>Checkbox List</p>
          </div>
          <div class="col-sm-9">
            <div class="col-sm-12 form-group form-inline">
              <div class="col-sm-3">
                <input type="checkbox" name="checkboxList" class="form-control" value="A" checked />
              </div>
              <div class="col-sm-3">
                <input type="checkbox" name="checkboxList" class="form-control" value="B" checked />
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 form-group row">
          <div class="col-sm-3">
            <p>Category: A</p>
          </div>
          <div class="col-sm-9">
            <div class="col-sm-12 form-group form-inline">
              <div class="col-sm-3">
                <input type="checkbox" name="code1[A]" value="A0" class="form-control" checked />A0
              </div>
              <div class="col-sm-3">
                <input type="text" name="code1Attr[A][A0]" value="A0-0" class="form-control" />
              </div>
              <div class="col-sm-3">
                <input type="text" name="code1Attr[A][A0]" value="A0-1" class="form-control" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 form-group row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <div class="col-sm-12 form-group form-inline">
              <div class="col-sm-3">
                <input type="checkbox" name="code1[A]" value="A1" class="form-control" checked />A1
              </div>
              <div class="col-sm-3">
                <input type="text" name="code1Attr[A][A1]" value="A1-0" class="form-control" />
              </div>
              <div class="col-sm-3">
                <input type="text" name="code1Attr[A][A1]" value="A1-1" class="form-control" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 form-group row">
          <div class="col-sm-3">
            <p>Category: B</p>
          </div>
          <div class="col-sm-9">
            <div class="col-sm-12 form-group form-inline">
              <div class="col-sm-3">
                <input type="checkbox" name="code1[B]" value="B0" class="form-control" checked />B0
              </div>
              <div class="col-sm-3">
                <input type="text" name="code1Attr[B][B0]" value="B0-1" class="form-control" />
              </div>
              <div class="col-sm-3">
                <input
                  type="text"
                  name="code1Attr[B][あいうえお]"
                  value="B0-1"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
